<h2>Find a flight</h2>

<%= simple_form_for :search, method: 'GET', url: root_path do |f| %>
  <%= f.input :departure_airport, collection: @airports, label_method: :city %>
  <%= f.input :arrival_airport, collection: @airports, label_method: :city %>
  <%= f.input :num_passengers, collection: 1..4, label: 'Number of passengers' %>
  <%= f.input :date, collection: @dates.uniq %>
  <%= f.button :submit, 'Search' %>
<% end %>


<% if params[:search] %>
  <%= render 'results' %>
<% end %>